# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Rafael Moreira
	email = me@rafaelmoreira.net 
[alias]
	po = push origin master
[github]
	user = rafamoreira
[core]
	excludesFile = ~/.gitignore
	editor = vim
[init]
	templatedir = /home/rmc/.git-templates
  defaultBranch = master
[diff]
	tool = vimdiff
[credential]
	helper = cache --timeout=604800
[push]
	autoSetupRemote = true
