[user]
	name = Rafael M Cunha
    email = me@rafaelmc.net
[alias]
	po = push origin master
[init]
	defaultBranch = master
[diff]
	tool = vimdiff
[github]
	user = rafamoreira
[core]
	excludesFile = ~/.gitignore
	editor = vim
[push]
	autoSetupRemote = true
[credential]
    helper = cache --timeout=604800
[include]
    path = ~/.gitconfig.local
