.DS_Store
/.asdf
/.ansible
/.cfg
/.gnupg
/.keychain
/.mozilla
/.ssh
/.thunderbird
/.viminfo
/.Xauthority
/.zcompdump
/.zsh_history
/.zsh_sessions
/.zcompcache
/Applications
/Calibre*
/code
/Desktop
/Documents
/Downloads
/Dropbox
/jellyfin
