tags
*~
*.sw*
.VimballRecord
.netrwhist
.DS_Store
*.log
*.tmp
*.swp
*.old
*.bkp
*.zip
*.rar
*.arj
*.[t]gz
*.[t]bz2
tmp/
log/
secrets
sublime-text/.config/sublime-text-3/Local/
sublime-text/.config/sublime-text-3/Cache/
i3/.config/i3/config
terminator/.config/terminator/plugins/terminator-themes.pyc
inventories.yaml

# ./vim/
vim/.vim/vimundo
vim/.vim/plugged
vim/.vim/undodir

neovim/.config/nvim/plugin/packer_compiled.lua
emacs/.emacs.d/places
