[submodule "zsh.custom/themes/spaceship-prompt"]
	path = zsh.custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh.custom/themes/pure"]
	path = zsh.custom/themes/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "alacritty/themes/base16"]
	path = alacritty/themes/base16
	url = https://github.com/aarowill/base16-alacritty
[submodule "zsh/.zsh/git-prompt.zsh"]
	path = zsh/.zsh/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
[submodule "iterm/dracula"]
	path = iterm/dracula
	url = https://github.com/dracula/iterm.git
[submodule "zsh/.zsh/wakatime-zsh-plugin"]
	path = zsh/.zsh/wakatime-zsh-plugin
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
