.DS_Store
/.android
/.ansible
/.asdf
/.cache
/.cfg
/.CFUserTextEncoding
/.dart
/.dartServer
/.dart-tool
/.dlv
/.docker
/.flutter
/.gnupg
/.keychain
/.lesshst
/.local/share
/.local/state
/.mozilla
/.npm
/.orbstack
/.pnpm-state
/.pub-cache
/.python_history
/.sonarlint
/.ssh
/.swiftpm
/.th-client
/.thunderbird
/.viminfo
/.Xauthority
/.zcompdump
/.zsh_history
/.zsh_sessions
/.zcompcache
/Applications
/Calibre*
/code
/Desktop
/Documents
/Downloads
/Dropbox
/jellyfin
