let mapleader = ' '
set clipboard+=unnamedplus
set visualbell
set NERDTree
set surround
set number
set relativenumber

" WHICH KEY
set which-key
let g:WhichKey_ShowVimActions = "true"
set notimeout
set timeoutlen = 5000

map <leader>o :NERDTreeToggle<CR>
map <leader>h :NERDTreeFind<CR>
nnoremap <leader>r :action Replace<CR>
set showcmd
set showmode
set showmatch


set undolevels=10000
map <leader>ff <Action>(GotoFile)
map <leader>sa <Action>(SearchEverywhere)
map <leader>wu <Action>(UnsplitAll)
"ruby
nnoremap <leader>vv :action org.jetbrains.plugins.ruby.rails.actions.navigation.SwitchToView<CR>
set ideajoin
