[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=swapcaps
Comment=
Exec=/usr/bin/setxkbmap -option "ctrl:nocaps" br
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

