/1Password
/BraveSoftware
/Code
/GitKraken
/Insomnia
/JetBrains\ Space
/JetBrains
/Postman
/QtProject.conf
/Ryujinx
/Signal
/Slack
/Thunar
/VirtualBox
/autostart
/calibre
/cef_user_data
/chromium
/dconf
/discord
/exercism
/filezilla
/github-copilot
