/1Password
/BraveSoftware
/Code
/GitKraken
/Insomnia
/JetBrains\ Space
/JetBrains
/Postman
/QtProject.conf
/Ryujinx
/Signal
/Slack
/Thunar
/VirtualBox
/autostart
/calibre
/cef_user_data
/chromium
/dconf
/discord
/exercism
/flutter
/honk
/filezilla
/github-copilot
/godot
/google-chrome-beta
/google-chrome-unstable
/google-chrome
/gtk-3.0
/htop
/iTerm2
/jellyfin
/jgit
